.cnt-chgpass{
    margin-top: 200px;
}

.cont-chng-form{
    width: 40%;
    text-align: center;
}

@media screen and (max-width:1507px){
    .cont-welcome-image{
        display: none;
    }
    .cont-chng-form{
        width: 100% !important;
    }
    .btn-cont{
        button{
            width: 47% !important;
            text-align: center;
        }
    }
}