/* App.scss */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
$main: #AEB5C8;
$select: #E2E4EB;
$footer: #F4F5F7;
$icon: #6D6875;
$backicon: #E9EBF0;
$button: #335DFF;
$border: #9A9A9A;
$mainfont: 'Cabin', sans-serif;
$subfont: 'Source Sans Pro', sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex-grow: 1;
  position: relative;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  /* Header.scss */
  .header-cont{
    width: 100%;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    padding: 0 16px;
    z-index:1;
  
    &__left {
      display: flex;
      align-items: center;
      .hamburmenu{
        color: $icon;
        @media (max-width:767px) {
          font-size: 20px;
        }
      }
    }
  
    &__menu-btn {
      display: none;
      background-color: transparent;
      border: none;
      color: #333;
      font-size: 24px;
      margin-right: 8px;
      cursor: pointer;
  
      @media (max-width: 767px) {
        display: block;
      }
    }
  
    &__title {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
  
      @media (max-width: 767px) {
        font-size: 18px;
        img{
          width: 70% !important;
        }
      }
    }
  
    &__right {
      display: flex;
      align-items: center;
    }
  
    &__button {
      background-color: transparent;
      border: none;
      color: black;
      margin-left: 16px;
      font-family: $subfont;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
  
      &--notifications {
        position: relative;
  
        &::after {
          content: "";
          position: absolute;
          top: -4px;
          right: -4px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
  
      @media (max-width: 767px) {
        margin-left: 8px;
        font-size: 14px;
        .header__username{
          display: none;
        }
        .img-icon{
          height: 50px !important;
          width: 50px !important;
          div{
            padding-top: 2px !important;
          }
        }
      }
    }
  
    &__account {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      margin-left: 24px;
      display: flex;
      &__username {
        margin-left: 8px;
      }
  
      @media (max-width: 767px) {
        font-size: 14px;
        margin-left: 16px;
  
        &__username {
          display: none;
          font-size: 14px;
        }
      }
    }
    .img-icon{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: white;
    }
  }
  
  
  /* Sidebar.scss */
  
  /* Main.scss */
  
  .main {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);

    &__content-home{
      margin: 0 auto;
      width: 80%;
      @media (max-width:767px) {
        width: 100%;
      }
      &__cont{
        width: 60%;
        z-index: -1;

      }
    }
    @media (max-width: 767px) {
    }
  }
  
  .content{
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 80px;
      position: relative;
      box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  }

  .err-cnt{
    display: flex;
    display: flex;
  align-items: center; // выравнивание по вертикали
  justify-content: center; 
    .err-main{
      margin: 0 auto;
      text-align: center;
      @media (max-width:767px) {
        padding-top: 50%;
        padding-bottom: 50%;
      }
      @media (max-width:1000px) {
        padding-top: 50%;
        padding-bottom: 50%;
      }
      img{
        width: 60% ;
      }
    }
  }

  .courses-div{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    @media (max-width:767px) {
    }
  }

  .card{
    margin-right: 2rem;
    @media (max-width:767px) {
      margin: 0 auto;
    }
  }

  .course-card {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  width: 15rem;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 16px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.714);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: $select;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-family: $subfont;
    font-weight: 600;
    color: #000;
    width: 9rem;
    button{
      background-color: transparent;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
  }
}

  

.card-users{
  margin-right: 2rem;
  @media (max-width:767px) {
    margin: 0 auto;
    margin-left: -10px !important;
  }
}

.course-card {
display: flex;
align-items: center;
border-radius: 4px;
padding: 16px;
margin-bottom: 16px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.2s ease-in-out;
width: 15rem;
@media (max-width:767px) {
  margin-left: -20px !important;
}

&:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

&__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 16px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.714);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: $select;
}

&__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

&__title {
  margin: 0;
  font-size: 20px;
  font-family: $subfont;
  font-weight: 600;
  color: #000;
  width: 9rem;
  button{
    background-color: transparent;
  }
}

&__subtitle {
  margin: 0;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}
}

.card-group{
  margin-right: 20px;
  @media (max-width:1000px) {
    margin: 0 auto;
  }
  @media (max-width:767px) {
    margin-left: 15px;
  }
  .course-card__content{
    @media (max-width:767px) {
      width: 70% !important;
    }
  }
}

.course-card-cont {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  width: 18rem;
  @media (max-width:767px) {
    margin-left: -1.1rem;
  }
  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 16px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.714);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: $select;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-family: $subfont;
    font-weight: 600;
    color: #000;
    width: 20rem;
    
    button{
      background-color: transparent;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
  }
}

.course{
  margin: 0 auto;
  margin-top: 20px;
  width: 85%;
  @media (max-width:767px) {
    margin-left: 50px;
  }
  &__cont{
    display: flex;
    flex-wrap: wrap;
  }
}

.courser-card{
  margin-right: 20px;
  background: #FFFFFF;
  box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),  
  5px -5px 10px rgba(230, 230, 230, 0.2), 
  -5px -5px 10px rgba(255, 255, 255, 0.9), 
  5px 5px 13px rgba(230, 230, 230, 0.9), 
  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
  inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  width: 20rem;
  border-radius: 10px;
  padding-top: 0;
  margin-bottom: 20px;
  position: relative;
  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  &__header{
    padding: 20px;
    border-radius: 10px 10px 0 0;
    padding-top: 4px;
    color: white;
    display: flex;
    height: 8rem;
    font-family: $subfont;
    padding-right: 0;
    &__info{
      width: 20rem;
      &:hover{
        text-decoration:underline;
      }
      &__title{
        font-weight: 700;
        font-size: 26px;
      }
      &__subtitle{
        margin-top: -10px;
        font-weight: 600;
      }
    }
    &__bs{
      font-size: 24px;
      padding-right: 5px;
      margin-top: 22px;
    }
  }
  &__body{
    padding-left: 15px;
    font-family: $subfont;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    &__avatar{
      width: 60px;
      height: 60px;
      position: absolute;
      right: 0;
      margin-top: -20px;
      margin-right: 10px;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }
}

.groupCont{
  @media (max-width:1000px) and (min-width:767px) {
    width: 60% !important;
  }
  @media (max-width:767px) {
    width: 100% !important;
    margin-left: -15px !important;
  }
}

.courseCont{
  @media (max-width:1000px) and (min-width:767px){
    width: 60% !important;
  }
}