.cont-resetpass-form{
    margin-top: 5%;
    width: 40%;
}

@media screen and (max-width:1507px){
    .cont-welcome-image{
        display: none;
    }
    .cont-resetpass-form{
        width: 100% !important;
    }
    .btn-cont{
        button{
            width: 47% !important;
            text-align: center;
        }
    }
}